.formularioContainer{
    background-color: 	#faf0e6;
    padding: 1.25rem;
    border-radius: 0.4rem;
    box-shadow: 0.3rem 0.4rem 2.5px #916a6a;
/* 
#c9a98b
#d8bfa6
#e6d2be
#4a1515
#3b1010
#2b0c0c
*/

}
.titulo{
    color: var(--cor-primaria);
    margin-bottom: 1rem;

}
.label{
    color: #4a1515;
    margin-bottom: 0.3125rem;
    font-weight: bold;
}
.pularLinha{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}
.alinhaBotao{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;

}
.estiloSelect{
    padding: 0.265rem;
    border-color: var(--cor-divisor);
    border: 1px solid var(--cor-divisor) ;
    font-family: var(--fonte-padrao);

    
}