:root{
    /*Cores primarias*/
    --cor-primaria: #780606;
    --cor-primaria-clara: #62b2eb;
    --cor-primaria-escura: #2a6ba1;

     /*Cores secundarias e de fundo*/
    --cor-secundaria: #efefef;
    --cor-fundo-tela: #e6f2ff;

    /*Cores de feeedback*/
    --cor-erro: #ce0000;
    --cor-aviso: #f9a13a;
    --cor-sucesso: #34b831;
    --cor-info: #62b2eb;

    /*Cores secundarias e de fundo*/
        --cor-texto-principal: #4a1515;
        --cor-texto-secundario: #5c5c5c;
        --cor-texto-contraste: #ffffff;
        --cor-divisor:#e0e0e0e0;

        --fonte-padrao:"Helvetica", "sans-serif"

}

/* #895129
#E9CCB7
#E2B99D
#DAA783
*/